body{
    background-color: rgb(10, 29, 47);
    font-family: sans-serif;
}
.pato ul{
    float:right;
    border-radius: 23px;
    margin-top: 0px;
    margin-right: 15px;
    padding-right: 60px;
    text-indent: 20px;
    list-style: none;
    display: flex;
    background-color: rgb(52, 49, 64);
    height:25px;
    padding-right: 20px;
   
}
.pato ul li:hover{
    color:#118181;
}
.pato ul li{
    padding-top: 7px;
    color:#faebd7;
    font-size: x-small;
    text-align: center;
    cursor:pointer;
    text-decoration: underline;
    
}
.focus{
    /* margin-left: 20px; */
    margin-right: 30px;
    
}
nav{
    float:right;
    padding-right: 50px;
    padding-top: 50px;
}
img{
    border:2px solid;
    border-radius: 100%;
    border-style: dotted;
}
h1{
    color:#faebd7;
    padding-top: 60px;
    padding-left: 30px;
}
h2{
    color:#faebd7;
    padding-left: 50px;
    padding-top: 50px;
}
p{
    color:#faebd7;
    padding-left: 30px;
}
/* span{
    color:coral;
} */
h3{
    color:#ff7f50;
    padding-left: 30px;
    padding-top: 20px;
} 
/* -----------about me section--------- */
.tab-titles{
    display:flex;
    margin:20px 0 40px;
    padding-bottom: 10px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor:pointer;
   
    /* position: relative;
     */
}
.tab-links::after{
    content: '';
    width:0;
    height:px;
    background:#ff7f50;
    position:absolute;
    left:0;
    bottom:-8px;
    
    /* transition:0.5s;    */
}
.tab-links.active-link::after{
    width: 30px;
    margin-left: 30px;

}
.tab-contents ul li{
    list-style: none;
    margin:10px 0;
    color:#faebd7;
    
}
.tab-contents ul li span{
    color:#ff7f50;
    font-size: 14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
    padding-bottom: 10px;
}

/*------------ services section------------- */
.sub-section{
    background-color: rgb(22, 20, 24);
    padding-bottom: 0;
    padding-right: 20px;
    border-top: 50px;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.sub-section h3{
    padding-left: 50px;
    font-size: 13px;
    padding-bottom: 0px;
}
.mini-section{
    background-color: rgb(19, 19, 21);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin-bottom: 30px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.mini-section input{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.mini-section input:hover{
    border-color: hsl(0, 0%, 100%);
    color:#ffffff;
    background-color:hsl(180, 25%, 25%);
}
.mini-section button{
    padding-bottom: 10px;
    padding-top: 10px;
    width:70px;
    background-color:rgb(26, 100, 52);
    border-radius: none;
    cursor:pointer;
    
}
.mini-section button:hover{
    /* border-color: coral; */
    background-color:rgb(45, 159, 45);
    text-decoration: underline;
}
.mini-section footer ul {
    list-style-type: none;
    /* display:flex; */
    color:#708090;
    font-size:larger;
    text-indent: 8px;
    display:flex;
    cursor:pointer;
    margin-right: auto;
}
.textarea{
    margin-bottom: 20px;
}
textarea:hover{
    border-color: #ffffff;
    background-color:#2f4f4f;
    color:#faebd7;
    border-radius: 10px;
}
label{
    color:#faebd7;
}

























@media screen and (max-width: 600px) {
    /* img{
        float:right;
    } */
    /* CSS styles for screens with a maximum width of 600px */
    /* This will apply when viewed on smaller devices like mobile phones */
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    img{
        float:right;
        width:400px;
        height:400px;
    }
    /* CSS styles for screens with a width between 601px and 1024px */
    /* This will apply when viewed on tablets */
  }
  
  @media screen and (min-width: 1025px) {
    img{
        float:right;
        width:400px;
        height:400px;
    }
    /* CSS styles for screens with a minimum width of 1025px */
    /* This will apply when viewed on desktop screens */
  }
  

  
